*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3e3e3f;
    scroll-behavior: smooth;
}

body{
    background: #c9b29a;
}

.ticket-h1{
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin: 0 auto;
    margin-top: calc(22vh  - 100px);
   width: 400px;
   border: 1px solid rgb(6, 6, 1);
   border-radius: 10px;
   align-items: center;
   background: #e8d4c5;
}

input:not(input[type="submit"]), select, textarea{
    margin-bottom: 15px;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

input, select{
    width: 220px;
    border-radius:5px ;
    padding: 3px;
    text-align: center;
}

input[type="submit"]{
    background-color: #c9b29a;
    cursor: pointer;
    padding: 5px;

}

input[type="submit"]:hover {
    background-color: #e8d4c5;
    cursor: pointer;
    font: 1.1rem;
    
    
}

.menu-responsive{
    display: none;
}
nav{
    height: fit-content;
    height: 100%;
    width: 100%;
}

nav > ul{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #e8d4c5;
    height: 40px;
    align-items: center;

}

nav  ul > li{
    border-right: 1px solid #3e3e3f;
}

nav > ul > li:first-child{
    border-left: 1px solid #3e3e3f;
}

.dropMenu_sub li {
    border-left: 1px solid #3e3e3f;
}


li{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #e8d4c5;
}

li  a:hover, li > p:hover{
    border-bottom: 1px solid #838589;
    color: #838589
}

.dropMenu_sub{
    display: none; 
}

.dropMenu_sub  li{
    gap: 10px;
}

li:hover .dropMenu_sub{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.1rem;
}

p,a, h2, h3, h1{
    text-align: center;
}


#p-info{

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

textarea{
    resize:none;
    width: 300px;
    height: 180px;
}

#tk-form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

table{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

td, th{
    width: fit-content;
    text-align: center;
    padding: 5px;
}
table, td, th{
    border: 1px solid black;
    border-collapse:collapse;
}


#modal-editar{

    background: #cc5;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 200px;
    width:400px
}

iframe{
    height: 90vh;
    width: 100vw;
}

.tk-buscados{
    margin-top: 20px;
}


#notification{
    position: absolute;
    right: 2.2rem;
    bottom: 3rem;
}

#btn-nuevo-tickets{
    position: relative;
    float: right;
    right: .5rem;
    background-color: #e8d4c5;
    border-radius: 50%;
    top: 0;
    padding: 10px;
    display: none;
    
}

#no-tickets{
    position: absolute;
    left: 5.5rem;
    bottom: 1.6rem;
    background:#3e3e3f;
    border-radius: 50%;
    padding: 4px;
    color: #e8d4c5;
    display: none;
}


.tickets-nuevos{
    background: #3e3e3f;
    color: #e8d4c5;
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 6.7rem;
    margin-right: 20px;
    display: none;
    padding: 2px;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}
}

.tickets-nuevos.active{
    display: block;
}

#moreDetails{
    position: absolute;
    background-color: #e8d4c5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: none;
    border-radius: 10px;
}

#moreDetails.active{
    display: block;
}

.tickets-container{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    background-color: #e8d4c5;
}


.tickets-container > button{
    align-self: center;
    padding-top: 3px;
    font-size: 15px;
    font-weight: 400;
    padding: 3px;
    border: none;
    cursor: pointer;
    background-color: #c9b29a;
    color: #3e3e3f;
    margin-top: 7px;
    border-radius: 8px;
}

.tickets-container > button:hover{
   
    color: #c9b29a;
    background: #3e3e3f;
    
}



  
